$color-background: peachpuff;
$color-h1: blue;

body {
  background-color: $color-background;
}

h1 {
  color: $color-h1;
}

p {
  font-style: italic;
  font-variant: small-caps;
  border-style: outset;
  border-width: medium;
}
